/*#post{
}
#header{
    text-color: white;
    size: 100%;
    height: 100%;
    text-align: center;
}
#footer{
    background-color: #ffffff;
    text-color: white;
    text-align: center;
}

code { background-color: gray }

html {
   background-color: white;
}

#post_list {
   
}
img {
   max-width: 100%;
}
hr {
    width: 100%;
    color: black;
    height: 3px;
    background-color: black;
}
body{
    width: 70%;
    align: center;
    margin-top: 10px;
    margin-left: 15%;
    margin-right: 15%;
    background-color: #ffcc99;
    border: solid #a0a0a0 1px ;
    border-radius: 10px ;
}*/
img {
    max-width: 100%;
    height: auto;
}
.about {
    display: flex;
    flex-direction: row; 
}

.about > p {
    margin-left: 2%;
}

html {
    background-color: black;
}

body {
    width: 50%;
    margin-left: 25% !important;
    margin-right: 25% !important;
    background-color: khaki;
}

@media only screen and (max-width: 600px) {
    body {
        width: 100%;
        margin: 0 !important;
    }
}
