img {
    max-width: 100%;
    height: auto;
}
.about {
    display: flex;
    flex-direction: row; 
}

.about > p {
    margin-left: 2%;
}

html {
    background-color: black;
}

body {
    width: 50%;
    margin-left: 25% !important;
    margin-right: 25% !important;
    background-color: khaki;
}

@media only screen and (max-width: 600px) {
    body {
        width: 100%;
        margin: 0 !important;
    }
}
