img {
    max-width: 100%;
    height: auto;
}

.about > p {
    margin-left: 2%;
    text-align: center;
}

footer {
    text-align: center;
}

.about > img {
    border-radius: 10px;
    float: center;
}
body {
    width: 50%;
    margin-left: 25% !important;
    margin-right: 25% !important;
}

h1, nav {
    text-align: center;
}

.posts {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    max-width: 100%;
}

.container {
    width: 50% !important;
}
.posts:last-child {
    border-bottom-style: none;
}
.post {
    border-bottom-style: dashed;
}
@media only screen and (max-width: 600px) {
    body {
        width: 100% !important;
        margin: 0 !important;
    }
    .container {
        width: 100% !important;
    }
}
